.avis{
    flex: 4;
    margin-top: 20px;
    position: sticky;
    width: 25%;
}
.create{
    border: none;
      border-radius: 10px;
      padding: 8px 15px;
      background-color: #5f39c9;
      color: white;
      cursor: pointer;
      margin-left: 900px;
      margin-top: 1px;
      margin-bottom: 2px;
      
}
.grid{
  height: 70% !important;
}
.SmButton{
  border: none;
  color: white;
  align-items: center;
  border-radius: 10px;
  
  cursor: pointer; 
}
.edit{
  color: black;
}

.btn{
   
  margin: 10px;
  margin-top: 20px;
  margin-left: 10px;
}

.table-bordered {
    
    align-items: center;
}
.custom_table {
    margin-top: 40px;
}
.custom_table table {
    border-spacing: 1;
    border-collapse: collapse;
    background: white;
    border-radius: 6px;
    overflow: hidden;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    position: relative;
  }
  table * {
    position: relative;
  }
  table td,
  table th {
    padding-left: 1px;
  }
  table thead tr {
    height: 60px;
    background: #d4c645;
    font-size: 16px;
  }
  table tbody tr {
    height: 12px;
    border-bottom: 1px solid #93c462;
    border: solid;
    font-size: 14px;
  }
  table tbody tr:last-child {
    border: solid;
  }
  table td,
  table th {
    text-align: left;
    font-size: 20px;
  }
  table td.l,
  table th.l {
    text-align: right;
  }
  table td.c,
  table th.c {
    text-align: center;
  }
  table td.r,
  table th.r {
    text-align: center;
  }
  
  @media screen and (max-width: 35.5em) {
    table {
      display: block;
    }
    table > *,
  table tr,
  table td,
  table th {
      display: block;
    }
    table thead {
      display: none;
    }
    table tbody tr {
      height: auto;
      padding: 8px 0;
    }
    table tbody tr td {
      padding-left: 45%;
      margin-bottom: 12px;
    }
    table tbody tr td:last-child {
      margin-bottom: 0;
    }
    table tbody tr td:before {
      position: absolute;
      font-weight: 700;
      width: 40%;
      left: 10px;
      top: 0;
    }
    table tbody tr td:nth-child(1):before {
      content: "Code";
    }
    table tbody tr td:nth-child(2):before {
      content: "Stock";
    }
    table tbody tr td:nth-child(3):before {
      content: "Cap";
    }
    table tbody tr td:nth-child(4):before {
      content: "Inch";
    }
    table tbody tr td:nth-child(5):before {
      content: "Box Type";
    }
  }
